@using MusicShop.Infrastructure
@model IEnumerable<MusicShop.Models.Genre>

    <nav class="genres-vertical">
        <ul>
            
            @foreach (var genre in Model)
            {
                <li>
                    <a href="@Url.Action("List", "Store", new { genername = genre.Name.ToString() })" style="background-image: url(@Url.GenreIconPath(genre.IconFilename)); ">
                        @genre.Name
                    </a>
                </li>
            }
        </ul>
    </nav>
